interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.myprotein.pl/0.html
  response:
    body:
      string: "\n\n\n\n\n\n\n<!DOCTYPE html>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\
        \n\t\n\t\t\n\t\n\t\n\n\n\n\n\n\n\n\n\n\n\n\t\n\t\t\n\t\n\t\n\n\n\n\n\n\n\t\
        \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\
        \n\n\t\n\t\n\t\t\n\t\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\
        \n\n\n\n\n\n\n\n\n\t\n\t\t\n\t\n\t\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\n\t\n\t\t\
        \n\t\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\n\n\n\n\n\n\n\n\n\n\n\n\n\
        \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    \n\
        \    \n        \n    \n\n\n\n\n\n\n\n\n\n\n\n\t\n\t\n\t\t\n\t\n\n\n\n\n\n\n\
        \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    \n     \n    \n        \n      \
        \  \n    \n\n\n\n\n\n\n\n\n    \n    \n        \n    \n\n\n\n\n\n\n\n\n\n\n\
        \    \n    \n    \n        \n        \n    \n\n\n\n\n\n\n\t\n\t\n\t\t\n\t\t\
        \n\t\n\n\n\n\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\t\n\t\n\t\n\t\
        \n\t\n\t\n\t\n\t\n\t\n\t\n\n\n\n\n\n\n\n\n\n\n\t\n\t\t\n\t\n\t\n\n\n\n\t\n\
        \t\t\n\t\n\t\n\n\n\n\n<html lang=\"pl-pl\" xml:lang=\"pl-pl\" dir=\"ltr\"\
        \ class=\"no-js no-touch site-pl\">\n\n\n\n\n<!-- Webserver = || www.myprotein.pl\
        \ || LON-WEB-084 || 8.3014.3056 -->\n\n\n<head>\n\t\n\n\n\n\n\n\n\n\n\n\n\n\
        \n\n\n\n\n\n\n\n\t\n\t\n\t\t\n\t\n\n\n\n\n    \n\n\n\n\n\n\n\n<meta charset=\"\
        utf-8\" />\n\n<title>\n\t\n\t\t\n\t\t\n\n\t\t\n\t\t\n\n\t\t\n\t\t\n\n\t\t\n\
        \t\t\n\n\n\n\n\n\n\t\t\n\t\t\n\n\t\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\n\n\
        \t\t\t\t\n\t\t\t\t\n\t\t\t\t\n\n\t\t\t\t\n\t\t\t\t\n\n\t\t\t\t\n\t\t\t\t\n\
        \n\t\t\t\t\n\t\t\t\t\n\n\t\t\t\t\n\t\t\t\t\n\t\t\t\t\tStrona 404 nie znaleziona\n\
        \t\t\t\t\n\n\t\t\t\t\n\n\t\t\t\t\n\n\t\t\t\t\n\n\t\t\t\t\n\t\t\t\t\n\n\t\t\
        \t\t\n\t\t\t\t\n\t\t\t\n\t\t\t| MYPROTEIN\u2122\n\t\t\n\t\n</title>\n\n\t\n\
        \n\n\n\n[...]
